In [84]:
# Import data and show info - note Postal Code has missing values
import pandas as pd
import numpy as np
import decimal
pd.set_option('display.max_columns', 500)

df = pd.read_csv("superstore_dataset2011-2015.csv", sep=',', encoding='Windows-1252')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [85]:
# Inspect sample data
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,Algeria,NaN,Africa,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium
1,22253,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,Australia,NaN,APAC,Oceania,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium
2,48883,HU-2011-1220,1/1/2011,5/1/2011,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,Hungary,NaN,EMEA,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High
3,11731,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,Sweden,NaN,EU,North,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High
4,22255,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,Australia,NaN,APAC,Oceania,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium

In [112]:
# Re-read and inspect data applying types and conversions
cat_cols = ['Ship Mode', 'Segment', 'Country',
            'Market', 'Region',
            'Category', 'Sub-Category', 
            'Order Priority']
int_cols = ['Row ID', 'Quantity']
dec_cols = ['Sales', 'Discount', 'Profit', 'Shipping Cost']
dt_cols = ['Order Date', 'Ship Date']
types = {**{k: np.int_ for k in int_cols}, 
         **{k:"category" for k in cat_cols}}
conv = {k: decimal.Decimal for k in dec_cols}
df = pd.read_csv("superstore_dataset2011-2015.csv", 
                 parse_dates=dt_cols, dtype=types,
                 converters=conv,
                 sep=',', encoding='Windows-1252')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  category
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  category
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  category
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  category
 13  Region          51290 non-null  category
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  category
 16  Sub-Category    51290 non-null  category
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  object
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  object
 23  Order Priority  51290 non-null  category
dtypes: category(8), datetime64[ns](2), float64(1), int64(2), object(11)
memory usage: 6.7+ MB

In [113]:
# look at values again
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,Algeria,NaN,Africa,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.3,2,0,106.14,35.46,Medium
1,22253,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,Australia,NaN,APAC,Oceania,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium
2,48883,HU-2011-1220,2011-01-01,2011-05-01,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,Hungary,NaN,EMEA,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.12,4,0,29.64,8.17,High
3,11731,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,Sweden,NaN,EU,North,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High
4,22255,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,Australia,NaN,APAC,Oceania,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.67,5,0.1,37.77,4.7,Medium

In [114]:
# Check min/max dates make sense (2011-2015)
[(col, df[col].min(), df[col].max()) for col in dt_cols]

[('Order Date',
  Timestamp('2011-01-01 00:00:00'),
  Timestamp('2014-12-31 00:00:00')),
 ('Ship Date',
  Timestamp('2011-01-02 00:00:00'),
  Timestamp('2015-07-01 00:00:00'))]

In [115]:
# Check categories
[(col, df[col].describe()) for col in cat_cols]

[('Ship Mode',
  count              51290
  unique                 4
  top       Standard Class
  freq               30775
  Name: Ship Mode, dtype: object),
 ('Segment',
  count        51290
  unique           3
  top       Consumer
  freq         26518
  Name: Segment, dtype: object),
 ('Country',
  count             51290
  unique              147
  top       United States
  freq               9994
  Name: Country, dtype: object),
 ('Market',
  count     51290
  unique        7
  top        APAC
  freq      11002
  Name: Market, dtype: object),
 ('Region',
  count       51290
  unique         13
  top       Central
  freq        11117
  Name: Region, dtype: object),
 ('Category',
  count               51290
  unique                  3
  top       Office Supplies
  freq                31273
  Name: Category, dtype: object),
 ('Sub-Category',
  count       51290
  unique         17
  top       Binders
  freq         6152
  Name: Sub-Category, dtype: object),
 ('Order Priority',
  count      51290
  unique         4
  top       Medium
  freq       29433
  Name: Order Priority, dtype: object)]